{% extends "front/layout.html.twig" %}

{% block title %}
   Découverte de la Guadeloupe
    {{ parent() }}
{% endblock %}

{% block main %}
<main>
    <p>je suis la page de la découverte de la Guadeloupe</p>
</main>
{% endblock %}