footer {
    display:grid;
    grid-template-columns: 20% 20% 20%;/*5 colonnes qui fait 20% de l'élément parent*/
    grid-template-rows: auto;
    background: $gradient-bg-footer;
    justify-content: space-around;
    align-items: center;
    
    .mention-footer {
         //grid-row: 2 / 3; /*position entre la 1ere ligne et la 2eme ligne*/
        grid-column: 1 / 2;
    }
    .contact-footer{
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        
    }
    
}

/****TABLETTE****/

@media screen and (min-width: 780px){
    
}

/**** DESKTOP ****/
@media screen and (min-width: 980px) {
    
}