{% extends "base.html.twig" %}

{% block title %}
   Les Plages
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="main-plages">
    <section>
        <h2>Les plages</h2>
        <p class="intro-plages">Petite introduction</p>
        <article class="plages-container">
                <div class="card-plage">
                    <figure>
                        <img src="assets/img/plage-grande-anse.jpg" alt=""/>
                    </figure>
                    <div class="details-plage">
                        <h3>nom de la plage</h3>
                        <p><strong>Commun:</strong> </p>
                        <p><strong>Distance:</strong> </p>
                        <p><strong>Description :</strong> </p>
                    </div>
                </div>
        </article>
    </section>
    
</main>
{% endblock %}