{% extends "front/layout.html.twig" %}

{% block title %}
   Les bungalows
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="main-bungalows">
    <p>je suis la page des bungalows</p>
     <div class="card-home-bunga">
                    <figure>
                        <img src="assets/img/plage-grande-anse.jpg" alt=""/>
                    </figure>
                    <div class="details-bunga">
                        <h3 class="title-card-h3">nom Bungalow</h3>
                        <p><strong>Commun:</strong> </p>
                        <p><strong>Distance:</strong> </p>
                        <p><strong>Description :</strong> </p>
                        <p class="btn-card"><a href="">En savoir + ></a></p>
                    </div>
                </div>
</main>
{% endblock %}