header {
    background-color: $bg-header;
}

/*BANDE LOGO*/
h1 {
    /*color: $title-orange;
    font-family: "Dancing Script", cursive;
    font-weight: 700;*/
    @include title;
    font-size: 1.5rem;
}

.block-header{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 100%;
}

.fig-logo{
    text-align: center;
    width: 20%;
   .logo {
    width: 50%;
    }
}

.fig-menu{
    .menu-b {width:30%;}
}

.fig-login{
    .img-login{
        width:60%;
    }
}

/****TABLETTE****/

@media screen and (min-width: 780px){
    h1 {
    font-size: 2.5rem;
}
}

//DESKTOP
@media screen and (min-width: 980px) {
	.menu-b, .img-login {
	    display:none;
	}
	
	.menu {
    width: 100%; 
    position: sticky;
    font-family: $font-fami-title;
    font-size: 1.5rem;
    }
    
    .menu{
        >ul{
            display: flex;
            text-align: center;
            justify-content: space-around;
            margin-top: 2rem;
            padding: 1rem;
            border-top: 2px solid $border-blue;
        }
        
        ul {
            li{
                
                a{
                    color: $text-black;
                    text-decoration: none;
                }
                
            }
            
        }
    }
    
    .menu{
        >ul{
            >li:hover{
                >a{
                      color: $text-blue;
                }
            }
        }
    }
    
    .under-menu{
        text-align:center;
        overflow:hidden;
    }
    
	
	
}