header {
    background-color: $bg-header;
    padding-bottom: 1rem;
    border-bottom: 2px solid $border-blue;

}

/*BANDE LOGO*/
h1 {
    /*color: $title-orange;
    font-family: "Dancing Script", cursive;
    font-weight: 700;*/
    @include title;
    font-size: 1.5rem;
    
}

.block-header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
}

.fig-logo{
    text-align: center;
    width: 20%;
   .logo {
    width: 50%;
    }
}

.fig-menu{
    .menu-b {width:30%;}
}

.fig-login{
    .img-login{
        width:60%;
    }
}

.menu{
    display:none;
}

/****TABLETTE****/

@media screen and (min-width: 780px){
    h1 {
        font-size: 2.5rem;
        
    }
}

/**** DESKTOP ****/
@media screen and (min-width: 980px) {
	.menu-b, .img-login {
	    display:none;
	}
	
	h1 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
	}
	
	header {
	    padding-bottom: 0;
        border-bottom: none;
    }
    
/***MENU***/	
	.menu 
	{
	    display: block;
        width: 100%; 
        position: sticky;
        font-family: $font-fami-title;
        font-size: 2rem;
        
        >ul
        {
            display: flex;
            text-align: center;
            justify-content: space-around;
            margin-top: 2rem;
            padding: 1.5rem;
            border-top: 2px solid $border-blue;
            border-bottom: 2px solid $border-orange;
        }
        
        ul 
        {
            li
            {
                
                a
                {
                    color: $text-black;
                    text-decoration: none;
                }
                
            }
            
        }
    }
    
    .menu{
     .login
     {
         background-color: $bg-button-blue;
             padding: .5rem 2rem;
             border-radius: 4rem .5rem;
              width:15rem;
         .button-login
         {
             color: $text-white;
         }
     }
      
  }  

/** Les hovers du MENU **/    
    
    .menu
    {
        >ul
        {
            >li:hover
            {
                background-color: $bg-button-blue;
                padding: 0.5rem 2rem;
                border-radius: 4rem .5rem;
                width: 15rem;
                >a
                {
                      color: $text-white;
                }
            }
        }
    }
    
  .menu
    {
        >ul
        {
            >.scrolling-menu:hover
            {
                .under-menu
                {
                    display:block;
                    text-align:left;
                    background-color: #FFF;
                    margin: .5rem;
                    padding: .5rem;
                    overflow:hidden;
                    li:hover{
                        background-color: $bg-button-orange;
                        border-radius: 4rem .5rem;
                        padding: 0.5rem 1.5rem;
                        a
                        {
                            color: $text-white;
                        }
                    }    
                }
            }    
        }
    }
    
    .menu{
     .login:hover
     {
         background-color: $bg-button-orange;
             padding: .5rem 2rem;
             border-radius: 4rem .5rem;
             width:15rem;
            .button-login
         {
             
         }
     }
      
  }  
    
 /** Sous-menu masqué **/   
    .menu
    {
        > ul
        {
            >.scrolling-menu
            {
                .under-menu 
                {
	                position: absolute;
	                display: none;
	                
                    >li
                    {
                         margin: 1rem;

                    }
                }        
            }
        }    
    }
    
 
	
	
}