<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Site de location de Bungalow en Guadeloupe">
	    <meta name= "keywords" content= "Location de vacances, guadeloupe, bungalow">
	    <meta name="Author" content="Marie-éva Mirtil">
        <title> {% block title %}| Bungalow TropiColor {% endblock %} </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Signika:wght@300..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets/styles/css/style.css" />
    </head>
    <body>
        <header class="header-auth">
            <div class="block-header-auth">
                <figure class="fig-logo-auth">
                    <img class="logo-auth" src="assets/img/logo 3.png" alt="logo rond représentant un colibri avec un fleu d'hibiscus et un bungalow"/>
                </figure>
                <h1 class="title-auth">Bungalow TropiColor</h1>
            </div>
            
            
            <nav class="menu-auth">
                <ul class="ul-auth">
                    <li class="li-auth">
                        <a href="index.php?route=home" class="a-auth"> Retour à l'accueil</a>
                    </li>
                </ul>
            </nav>
        </header>
         {% block main %}
        {% endblock %}

        <footer>
            <p><a href="" class="politik-footer">Politique de confidentialités</a></p>
            <p class="mention-footer"><a href="" >Mentions légales et CGU</a></p>
            <div class="contact-footer">
                <a href="">Contactez-nous</a>
                <p>Lamentin</p>
                <p>Téléphone</p>
                <p>mail</p>
            </div>
            <h3 class ="title-footer">Réseaux sociaux</h3>
            <p><a href=""><img src="assets/img/instagram.png" alt="Icone instagram"></a></p>
        </footer>

        {% block javascript %}
             <script src="assets/js/script.js"></script>
        {% endblock %}
    </body>
</html>


