{% extends 'front/auth/layout.html.twig' %}

{% block main %}
    <main class="main-register">
        <div>
            <p>{{session.error_message}}</p>
        </div>
        <div class="register-form">
        <form action="index.php?route=check-inscription" method="post" class="form-register">
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ session.csrf_token }}" />
            
            <div class="form-register-column-left">
                <fieldset class="form-group-register">
                <label for="last_name" class="form-label">
                    Nom
                </label>
                <input type="text" name="last_name" id="last_name" required class="form-control"/>
            </fieldset>
            
             <fieldset class="form-group-register">
                <label for="first_name" class="form-label">
                    Prénom
                </label>
                <input type="text" name="first_name" id="first_name" required class="form-control"/>
            </fieldset>
            
             <fieldset class="form-group-register">
                <label for="date_of_birth" class="form-label">
                    Date de naissance
                </label>
                <input type="date" name="date_of_birth" id="date_of_birth" required class="form-control"/>
            </fieldset>
            <fieldset class="form-group-register">
                <label for="phone" class="form-label">
                    Téléphone
                </label>
                <input type="tel" name="phone" id="phone" required class="form-control"/>
            </fieldset>
            
            <fieldset class="form-group-register">
                <label for="email" class="form-label">
                    Email
                </label>
                <input type="email" name="email" id="email" required class="form-control"/>
            </fieldset>
            
            <fieldset class="form-group-register">
                <label for="password" class="form-label">
                    Mot de passe
                </label>
                <input type="password" name="password" id="password" required class="form-control"/>
            </fieldset>
            
            <fieldset class="form-group-register">
                <label for="confirm_password" class="form-label">
                    Confirmer le mot de passe
                </label>
                <input type="password" name="confirm_password" id="confirm_password" required class="form-control"/>
            </fieldset>
            </div>
             <div class="form-register-column-right">
                 
             </div>
            <fieldset class="form-group-register">
                <label for="number" class="form-label">
                    Numéro
                </label>
                <input type="text" name="number" id="number" placeholder="Numéro" required class="form-control"/>
            </fieldset>

            <fieldset class="form-group-register">
                <label for="street" class="form-label">
                    Rue
                </label>
                <input type="text" name="street" id="street" placeholder="Rue" required class="form-control"/>
            </fieldset>

            <fieldset class="form-group-register">
                <label for="complement" class="form-label">
                    Complément
                </label>
                <input type="text" name="complement" id="complement" placeholder="Complément" class="form-control"/>
            </fieldset>
            
            <fieldset class="form-group-register">
                <label for="postale_code" class="form-label">
                    Code postal
                </label>
                <input type="text" name="postale_code" id="postale_code" placeholder="Code Postal" required class="form-control"/>
            </fieldset>
            
            <fieldset class="form-group-register">
                <label for="city" class="form-label">
                    Ville
                </label>
                <input type="text" name="city" id="city" placeholder="Ville" required class="form-control"/>
            </fieldset>

            
            <fieldset class="mt-3">
                <button type="submit" class="btn-form-register">Créer un compte</button>
            </fieldset>
        </form>
        </div>
    </main>
{% endblock %}