{% extends "front/layout.html.twig" %}

{% block title %}
   Accueil
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="main-home">
    <section class="home">
        <div class="banner-home">
            <h2 class="title-accueil">Location de bungalow avec voiture pour <br>des vacances en toute sérénité !</h2>
            <div class="search-form">
                <form action="" method="post" class="form-search">
                    <div class="form-group-arrival">
                        <label for="arrival-date">Date d'arrivée :</label>
                        <input type="date" class="input-date" id="arrival-date" name="arrival_date" required>
                    </div>
                    <div class="form-group-depart">
                        <label for="departure-date">Date de départ :</label>
                        <input type="date" class="input-date" id="departure-date" name="departure_date" required>
                    </div>
                    <div class="form-group-capacity">
                        <label for="capacity">Nombre de personnes :</label>
                        <input type="number" class="input-number" id="capacity" name="capacity" min="1" required>
                    </div>
                    <!--<div class="form-group-adults">
                        <label for="nb-adults">Adultes :</label>
                        <input type="number" class="input-number" id="nb-adults" name="nb_adults" min="1" value="1" required>
                    </div>
                    <div class="form-group-child">
                        <label for="nb-children">Enfants :</label>
                        <input type="number" class="input-number" id="nb-children" name="nb_children" min="0" value="0">
                    </div>-->
                    <div class="form-group-button">
                        <button type="submit" class="btn-search">Rechercher</button>
                    </div>
                </form>
            </div>
        </div>
        
        
    </section>
    <section class="present">
        <h2 class="title-apropos">Bungalow TropiColor</h2>
        <p>
            
        </p>
        
        
        
    </section>
    <section class="bungalows">
        <h2 class="title-home-bunga">Les Bungalows</h2>
        <p class="text-bunga">Choisissez votre Bungalows</p>
        
        <article class="home-bunga-container">
                <div class="card-home-bunga">
                    <figure>
                        <img src="assets/img/plage-grande-anse.jpg" alt=""/>
                    </figure>
                    <div class="details-bunga">
                        <h3 class="title-card-h3">nom Bungalow</h3>
                        <p><strong>Commun:</strong> </p>
                        <p><strong>Distance:</strong> </p>
                        <p><strong>Description :</strong> </p>
                        <p class="btn-card"><a href="">En savoir + ></a></p>
                    </div>
                </div>
        
                <div class="card-home-bunga">
                    <figure>
                        <img src="assets/img/plage-grande-anse.jpg" alt=""/>
                    </figure>
                    <div class="details-bunga">
                        <h3 class="title-card-h3">nom de la plage</h3>
                        <p><strong>Commun:</strong> </p>
                        <p><strong>Distance:</strong> </p>
                        <p><strong>Description :</strong> </p>
                       <p><a href="">En savoir + ></a></p>
                    </div>
                </div>
        </article>
        
    </section>
    <section class="discovery">
         <h2 class="title-discovery">Découvertes de la Guadeloupe</h2>
    </section>
     
</main>

{% endblock %}