{% extends "front/base.html.twig" %}

{% block title %}
   Accueil
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="main-home">
    <section class="home">
        <div class="banner-home">
            <h2 class="title-accueil">Location de bungalow avec voiture pour <br>des vacances en toute sérénité !</h2>
        </div>
        
    </section>
    <section class="present">
        <h2 class="title-apropos">Bungalow TropiColor</h2>
    </section>
    <section class="bungalows">
        <h2 class="title-bunga">Les Bungalows</h2>
        
    </section>
    <section class="discovery">
         <h2 class="title-discovery">Découvertes de la Guadeloupe</h2>
    </section>
     
</main>

{% endblock %}