<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title> {% block title %} {% endblock %} | Bungalow TropiColor</title>
        <!--<link rel="stylesheet" href="assets/styles/css/style.css" />-->
    </head>
    <body>
        <header>
            <figure>
                <img />
            </figure>
            <h1>Bungalow TropiColor</h1>
            <nav>
                <ul>
                    <li>
                       <!-- <a href="index.php?route=home">Accueil</a>-->
                        <a href="">Accueil</a>
                    </li>
                    <li>
                        <a href="">A Propos</a>
                    </li>
                    <li>
                        <a href="">Bungalows</a>
                    </li>
                    <li>
                        <a href="">Découverte</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <li>
                        <a href="">Réservation</a>
                    </li>
                    <li>
                        <a href="">Connexion</a>
                    </li>
                </ul>
            </nav>
        </header>
         {% block main %}
        {% endblock %}

        <footer>

        </footer>

        {% block javascript %}
        {% endblock %}
    </body>
</html>


