<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Site de location de Bungalow en Guadeloupe">
        <title> {% block title %} {% endblock %} | Bungalow TropiColor</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Signika:wght@300..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets/styles/css/style.css" />
    </head>
    <body>
        <header>
            <div class="block-header">
                <bouton class="menu-burger" aria-label="Toggle menu">
                    <img class="menu-b" src="assets/img/menu-buger-orange.png" alt=""/>
                </bouton>
                <figure class="fig-logo">
                    <img class="logo" src="assets/img/logo 3.png" alt=""/>
                </figure>
                <figure class="fig-login">
                    <img class="img-login" src="assets/img/compte orange.png" alt=""/>
                </figure>
            </div>
            
            <h1>Bungalow TropiColor</h1>
            <nav class="menu">
                <ul>
                    <li>
                       <!-- <a href="index.php?route=home">Accueil</a>-->
                        <a href="">Accueil</a>
                    </li>
                    <li>
                        <a href="">A Propos</a>
                    </li>
                    <li class="scrolling-menu">
                        <a href="">Bungalows</a>
                        <ul class="under-menu">
					        <li><a href="#">Bungalow Evanel</a></li>
					        <li><a href="#">Bungalow Citron</a></li>
				        </ul>
                    </li>
                    <li class="scrolling-menu">
                        <a href="">Découverte</a>
                        <ul class= "under-menu">
					        <li><a href="index.php?route=discovery_beach">Les Plages</a></li>
					        <li><a href="#">Les Rivières</a></li>
					        <li><a href="#">Les Randonnées</a></li>
					        <li><a href="#">Les Restaurants</a></li>
					        <li><a href="#">Les Parcs d'activité</a></li>
					        <li><a href="#">Les Visites</a></li>
				        </ul>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <li>
                        <a href="">Réservation</a>
                    </li>
                    <li class="login">
                        <a href="" class="button-login">Connexion</a>
                    </li>
                </ul>
            </nav>
        </header>
         {% block main %}
        {% endblock %}

        <footer>
            <p>Politique de confidentialités</p>
            <p>Mentions légales et CGU</p>
            <p>Contactez-nous</p>
            <p>Lamentin</p>
            <p>Téléphone</p>
            <p>mail</p>
            <p>Réseaux sociaux</p>
        </footer>

        {% block javascript %}
        {% endblock %}
    </body>
</html>


