@charset "UTF-8";
/*Généralités*/
* {
  box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
  font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
  font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
}

/* VARS */
/*@mixin title($font-size: 1.6rem , $color: $title-orange, $font-family:$font-fami-title)
{
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    font-weight: 700;
}*/
/* LIBS */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* PARTIALS */
header {
  background-color: #F2FAFB;
  padding-bottom: 1rem;
  border-bottom: 2px solid #00A2C7;
}

/*BANDE LOGO*/
h1 {
  /*color: $title-orange;
  font-family: "Dancing Script", cursive;
  font-weight: 700;*/
  font-family: "Dancing Script", cursive;
  color: #CC4E00;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

.block-header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
}

.fig-logo {
  text-align: center;
  width: 20%;
}
.fig-logo .logo {
  width: 50%;
}

.scrolling-menu > a:after {
  content: "❯";
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.menu-burger {
  cursor: pointer;
}
.menu-burger .menu-b {
  width: 30%;
}

.fig-login .img-login {
  width: 60%;
}

/**MENU-BURGER**/
.menu {
  display: none;
  flex-direction: column;
  position: relative;
  top: -3rem;
  /*align-items: center;*/
  width: 25%;
  background-color: #f8f9fa;
  padding: 20px;
  margin-left: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul li {
  text-decoration: none;
  margin: 10px 0;
}
.menu ul li a {
  text-decoration: none;
  color: #00A2C7;
  font-family: "Signika", sans-serif;
  font-size: 18px;
  transform: translate(-50%, -50%);
}

.menu > ul > .scrolling-menu .under-menu {
  display: none;
}
.menu > ul > .scrolling-menu .under-menu > li {
  margin: 1rem;
}

/*hover menu-burger*/
/*.menu
    {
        >ul
        {
            >li:hover
            {
                background-color: $bg-button-blue;
                padding: 0.5rem 2rem;
                border-radius: 4rem .5rem;
                max-width: 15rem;
                >a
                {
                      color: $text-white;
                }
            }
        }
    }*/
/** hover sous-menu**/
/*.menu
    {
        >ul
        {
            >.scrolling-menu:hover
            {
                .under-menu
                {
                    display:block;
                    position: absolute;
                    text-align:left;
                    background-color: $bg-button-blue;
                    margin: .5rem;
                    padding: .5rem;
                    overflow:hidden;
                    li:hover{
                        background-color: $bg-button-orange;
                        border-radius: 4rem .5rem;
                        padding: 0.5rem 1.5rem;
                        a
                        {
                            color: $text-white;
                        }
                    }    
                }
            }    
        }
    }*/
.menu.active {
  display: flex;
}

.menu > ul > .scrolling-menu .under-menu.active {
  display: block;
}

/****TABLETTE****/
@media screen and (min-width: 780px) {
  h1 {
    font-size: 2.5rem;
  }
}
/**** DESKTOP ****/
@media screen and (min-width: 980px) {
  .menu-b, .img-login {
    display: none;
  }
  h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  header {
    padding-bottom: 0;
    border-bottom: none;
    position: sticky;
    top: 0.1rem;
  }
  .fig-logo .logo {
    width: 30%;
  }
  /***MENU***/
  .menu {
    display: block;
    width: 100%;
    position: sticky;
    margin-left: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: #F2FAFB;
  }
  .menu > ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    border-top: 2px solid #00A2C7;
    border-bottom: 2px solid #CC4E00;
  }
  .menu ul li a {
    color: #000;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-size: 1.5rem;
    margin: 1rem;
  }
  .menu .login {
    background-color: #00A2C7;
    padding: 0.5rem 2rem;
    border-radius: 4rem 0.5rem;
    max-width: 19%;
  }
  .menu .login .button-login {
    color: #FFF;
  }
  /** Les hovers du MENU **/
  .menu > ul > li:hover {
    background-color: #00A2C7;
    padding: 0.5rem 2rem;
    border-radius: 4rem 0.5rem;
    max-width: 15rem;
  }
  .menu > ul > li:hover > a {
    color: #FFF;
  }
  .menu > ul > .scrolling-menu:hover .under-menu {
    display: block;
    text-align: left;
    position: absolute;
    background-color: #FFF;
    margin: 0.5rem;
    padding: 0.5rem;
    overflow: hidden;
  }
  .menu > ul > .scrolling-menu:hover .under-menu li:hover {
    background-color: #CC4E00;
    border-radius: 4rem 0.5rem;
    padding: 0.5rem 1.5rem;
  }
  .menu > ul > .scrolling-menu:hover .under-menu li:hover a {
    color: #FFF;
  }
  .menu .login:hover {
    background-color: #CC4E00;
    padding: 0.5rem 2rem;
    border-radius: 4rem 0.5rem;
    width: 15rem;
  }
  /** Sous-menu masqué **/
  .menu > ul > .scrolling-menu .under-menu {
    display: none;
  }
  .menu > ul > .scrolling-menu .under-menu > li {
    margin: 1rem;
  }
}
/* aniamations fléches menu déroulant*/
@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
/*animation au survole */
.scrolling-menu:hover > a:after {
  animation: rotationFleche 0.2s linear forwards;
}

footer {
  display: grid;
  grid-template-columns: 20% 20% 20%; /*5 colonnes qui fait 20% de l'élément parent*/
  grid-template-rows: auto;
  background: linear-gradient(90deg, #107D98 50%, #0D3C48 88%);
  justify-content: space-around;
  align-items: center;
  padding: 3rem 1rem 3rem 1rem;
  color: #FFF;
  font-family: "Signika", sans-serif;
}
footer p, footer div {
  padding: 0.5rem;
}
footer p a, footer div a {
  text-decoration: none;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 700;
}
footer .title-footer {
  font-size: 1.2rem;
  font-weight: 700;
  grid-row: 1/2;
  grid-column: 3/4;
}
footer .mention-footer {
  grid-column: 1/2;
}
footer .contact-footer {
  grid-row: 1/3;
  grid-column: 2/3;
  text-decoration: none;
  color: #FFF;
}

/****TABLETTE****/
/**** DESKTOP ****/
.header-auth {
  background-color: #F2FAFB;
  padding-bottom: 1rem;
}

/*BANDE LOGO*/
.title-auth {
  /*color: $title-orange;
  font-family: "Dancing Script", cursive;
  font-weight: 700;*/
  font-family: "Dancing Script", cursive;
  color: #CC4E00;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

.block-header-auth {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  width: 100%;
}

.fig-logo-auth {
  text-align: center;
  width: 10%;
}
.fig-logo-auth .logo-auth {
  width: 50%;
}

.menu-auth {
  /*align-items: center;*/
  display: grid;
  justify-content: end;
  width: 100%;
  padding-right: 1rem;
  /*position: relative;
  left: 105rem;*/
}
.menu-auth .ul-auth {
  padding: 0;
  margin: 0;
}
.menu-auth .ul-auth .li-auth {
  text-decoration: none;
  margin: 10px 0;
}
.menu-auth .ul-auth .li-auth .a-auth {
  text-decoration: none;
  color: #00A2C7;
  font-family: "Signika", sans-serif;
  font-size: 18px;
}

/****TABLETTE****/
@media screen and (min-width: 780px) {
  h1 {
    font-size: 2.5rem;
  }
  .menu-auth {
    /*align-items: center;*/
    /*padding: 20px;
    margin-left: 1rem;*/
  }
}
/**** DESKTOP ****/
@media screen and (min-width: 980px) {
  .menu-b, .img-login {
    display: none;
  }
  h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
  header {
    padding-bottom: 0;
    border-bottom: none;
    position: sticky;
    top: 0.1rem;
  }
  /***MENU***/
  .menu {
    display: block;
    width: 100%;
    position: sticky;
    margin-left: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: #F2FAFB;
  }
  .menu > ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    border-top: 2px solid #00A2C7;
    border-bottom: 2px solid #CC4E00;
  }
  .menu ul li a {
    color: #000;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-size: 1.5rem;
    margin: 1rem;
  }
  .menu .login {
    background-color: #00A2C7;
    padding: 0.5rem 2rem;
    border-radius: 4rem 0.5rem;
    max-width: 19%;
  }
  .menu .login .button-login {
    color: #FFF;
  }
  /** Les hovers du MENU **/
  .menu > ul > li:hover {
    background-color: #00A2C7;
    padding: 0.5rem 2rem;
    border-radius: 4rem 0.5rem;
    max-width: 15rem;
  }
  .menu > ul > li:hover > a {
    color: #FFF;
  }
  .menu > ul > .scrolling-menu:hover .under-menu {
    display: block;
    text-align: left;
    position: absolute;
    background-color: #FFF;
    margin: 0.5rem;
    padding: 0.5rem;
    overflow: hidden;
  }
  .menu > ul > .scrolling-menu:hover .under-menu li:hover {
    background-color: #CC4E00;
    border-radius: 4rem 0.5rem;
    padding: 0.5rem 1.5rem;
  }
  .menu > ul > .scrolling-menu:hover .under-menu li:hover a {
    color: #FFF;
  }
  .menu .login:hover {
    background-color: #CC4E00;
    padding: 0.5rem 2rem;
    border-radius: 4rem 0.5rem;
    width: 15rem;
  }
  /** Sous-menu masqué **/
  .menu > ul > .scrolling-menu .under-menu {
    display: none;
  }
  .menu > ul > .scrolling-menu .under-menu > li {
    margin: 1rem;
  }
}
/* aniamations fléches menu déroulant*/
@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
/*animation au survole */
.scrolling-menu:hover > a:after {
  animation: rotationFleche 0.2s linear forwards;
}

/* LAYOUTS */
/**** MOBILE ****/
.main-plages {
  background: linear-gradient(180deg, rgba(255, 247, 237, 0.3) 0%, rgba(125, 206, 220, 0.3) 100%);
}

h2 {
  font-family: "Dancing Script", cursive;
  color: #CC4E00;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.intro-plages {
  font-family: "Signika", sans-serif;
  color: #000;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}

/*CARDS*/
.plages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.plages-container .card-plage {
  background-color: #FFF;
  border-radius: 4rem 1rem 1rem 1rem;
  max-width: 80%;
  margin-bottom: 1rem;
}
.plages-container .card-plage img {
  width: 100%;
  border-radius: 4rem 0.5rem;
}

.details-plage .title-card-h3 {
  font-family: "Dancing Script", cursive;
  color: #00A2C7;
  font-weight: 700;
  text-align: center;
  text-align: center;
  font-size: 1.5rem;
}
.details-plage p {
  font-family: "Signika", sans-serif;
  color: #000;
  margin: 1rem;
}

/****TABLETTE****/
@media screen and (min-width: 780px) {
  h2 {
    font-size: 3rem;
  }
  .plages-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .plages-container .card-plage {
    max-width: 40%;
  }
  .plages-container .card-plage img {
    width: 100%;
    border-radius: 4rem 0.5rem;
  }
  /*.card-plage
  {
      width: 80%;

      img
      {
      width:100%;
      border-radius: 4rem .5rem;
      }
  }    */
}
/**** DESKTOP ****/
/**** MOBILE first ****/
.banner-home {
  background-image: url("../../img/accueil.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 4rem 0rem 4rem 0rem;
}

.title-accueil {
  color: #FFF;
  margin-top: 6rem;
  font-size: 1.6rem;
}

/*Formulaire recherche*/
.search-form {
  width: 50%;
  height: 100%;
  margin-bottom: 1rem;
}
.search-form .form-search {
  display: grid;
  grid-template-columns: 30% 30%; /*2 colonnes qui fait 30% de l'élément parent*/
  grid-template-rows: auto;
  column-gap: 0.5rem;
  justify-content: center;
  justify-items: center;
  font-family: "Signika", sans-serif;
  color: #CC4E00;
  border: 2px solid #00A2C7;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
}
.search-form .form-search .form-group-arrival {
  grid-row: 1/2;
  grid-column: 1/3;
  margin: 1rem 0rem;
}
.search-form .form-search .form-group-depart {
  grid-row: 2/3;
  grid-column: 1/3;
  margin-bottom: 1rem;
}
.search-form .form-search .form-group-capacity {
  grid-row: 3/4;
  grid-column: 1/2;
  margin-bottom: 0.5rem;
}
.search-form .form-search .form-group-button {
  grid-row: 4/5;
  grid-column: 1/3;
  padding-bottom: 1rem;
}
.search-form .input-date {
  width: 100%;
  height: 70%;
  font-family: "Signika", sans-serif;
  border: 2px solid #00A2C7;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
}
.search-form .input-number {
  width: 4rem;
  height: 50%;
  font-family: "Signika", sans-serif;
  border: 2px solid #00A2C7;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
}
.search-form .btn-search {
  border-radius: 40px 10px;
  border: 4px solid #00A2C7;
  background-color: #00A2C7;
  font-family: "Signika", sans-serif;
  color: #FFF;
  padding: 0rem 1rem;
}

/*section A propos*/
.present {
  display: grid;
  grid-template-columns: 30% 30% 30%; /*2 colonnes qui fait 30% de l'élément parent*/
  grid-template-rows: auto;
  justify-content: center;
}
.present .title-apropos {
  grid-row: 1/2;
  grid-column: 1/4;
}
.present .text-home-apropos {
  font-family: "Signika", sans-serif;
  color: #000;
  text-align: center;
  line-height: 1.3rem;
  grid-row: 2/2;
  grid-column: 1/4;
}
.present .img-apropos {
  display: none;
}

/*CARD*/
.home-bunga-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.home-bunga-container .card-home-bunga {
  background: linear-gradient(180deg, rgba(255, 247, 237, 0.3) 75%, rgba(125, 206, 220, 0.3) 100%);
  border-radius: 4rem 1rem 1rem 1rem;
  max-width: 80%;
  margin-bottom: 1rem;
}
.home-bunga-container .card-home-bunga img {
  width: 100%;
  border-radius: 4rem 0.5rem;
}

.details-bunga .title-card-h3 {
  font-family: "Dancing Script", cursive;
  color: #00A2C7;
  font-weight: 700;
  text-align: center;
  text-align: center;
  font-size: 1.5rem;
}
.details-bunga p {
  font-family: "Signika", sans-serif;
  color: #000;
  text-align: center;
  margin: 1rem;
}
.details-bunga .btn-card-bunga {
  border: 2px solid #00A2C7;
  border-radius: 40px 10px;
  width: 45%;
  padding: 0.5rem 1rem;
  margin-left: 6rem;
}
.details-bunga .btn-card-bunga a {
  text-decoration: none;
  color: #CC4E00;
}

/****TABLETTE****/
@media screen and (min-width: 780px) {
  .banner-home {
    height: 400px;
  }
  /*Formulaire recherche*/
  .search-form {
    width: 80%;
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 0;
  }
  .search-form .form-search {
    display: grid;
    grid-template-columns: 25% 25% 10% 10%; /*2 colonnes qui fait 30% de l'élément parent*/
    grid-template-rows: auto;
    column-gap: 0.5rem;
    font-size: 1rem;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    height: auto;
  }
  .search-form .form-search .form-group-arrival {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 1rem 0rem;
  }
  .search-form .form-search .form-group-depart {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 1rem 0rem;
  }
  .search-form .form-search .form-group-capacity {
    grid-row: 1/2;
    grid-column: 3/4;
    margin: 1rem 0rem;
  }
  .search-form .form-search .form-group-button {
    grid-row: 2/3;
    grid-column: 2/3;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .search-form .input-date {
    width: 100%;
    height: 70%;
    font-family: "Signika", sans-serif;
    border: 2px solid #00A2C7;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
  }
  .search-form .input-number {
    width: 3rem;
    height: 70%;
    font-family: "Signika", sans-serif;
    border: 2px solid #00A2C7;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
  }
  .search-form .btn-search {
    padding: 0rem 1.5rem;
    font-size: 1rem;
  }
  /*Section a propos*/
  .present {
    /*display: grid;
    grid-template-columns: 30% 30% 30%;/*2 colonnes qui fait 30% de l'élément parent*/
    /*grid-template-rows: auto; 
    justify-content: center;*/
    margin-top: 1rem;
  }
  .present .title-apropos {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .present .text-home-apropos {
    grid-row: 2/2;
    grid-column: 1/3;
    margin: 1rem;
  }
  .present .img-apropos {
    display: block;
    grid-row: 1/3;
    grid-column: 3/4;
  }
  .present .img-apropos img {
    max-width: 100%;
    border-radius: 4rem 0rem 4rem 0rem;
  }
  /**CARDS**/
  .details-bunga .title-card-h3 {
    font-size: 2rem;
  }
  .details-bunga p {
    font-family: "Signika", sans-serif;
    color: #000;
    text-align: center;
    margin: 1.5rem;
  }
  .details-bunga .btn-card-bunga {
    margin-left: 8rem;
  }
  .details-bunga .btn-card-bunga a {
    text-decoration: none;
    color: #CC4E00;
  }
}
/**** DESKTOP ****/
@media screen and (min-width: 980px) {
  .banner-home {
    height: 500px;
  }
  .title-accueil {
    color: #FFF;
    font-size: 2.5rem;
  }
  /*Formulaire recherche*/
  .search-form {
    width: 85%;
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .search-form .form-search {
    display: grid;
    grid-template-columns: 20% 20% 10% 10% 15%; /*5 colonnes qui fait 30% de l'élément parent*/
    grid-template-rows: auto;
    column-gap: 0.5rem;
    font-size: 1rem;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 50%;
  }
  .search-form .form-search .form-group-arrival {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 1rem 0rem;
    height: 60%;
  }
  .search-form .form-search .form-group-depart {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 1rem 0rem;
    height: 60%;
  }
  .search-form .form-search .form-group-capacity {
    grid-row: 1/2;
    grid-column: 3/4;
    margin: 1rem 0rem;
    height: 60%;
  }
  .search-form .form-search .form-group-button {
    grid-row: 1/2;
    grid-column: 5/6;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .search-form .input-date {
    width: 100%;
    height: 70%;
    font-family: "Signika", sans-serif;
    border: 2px solid #00A2C7;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
  }
  .search-form .input-number {
    width: 3rem;
    height: 70%;
    font-family: "Signika", sans-serif;
    border: 2px solid #00A2C7;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
  }
  .search-form .btn-search {
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
  }
  /*Section a propos*/
  .present {
    /*display: grid;
    grid-template-columns: 30% 30% 30%;/*2 colonnes qui fait 30% de l'élément parent*/
    /*grid-template-rows: auto; 
    justify-content: center;*/
    margin-top: 1rem;
  }
  .present .title-apropos {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .present .text-home-apropos {
    grid-row: 2/2;
    grid-column: 1/3;
    margin: 1rem;
    text-align: start;
  }
  .present .img-apropos {
    display: block;
    grid-row: 1/3;
    grid-column: 3/4;
  }
  .present .img-apropos img {
    height: 15rem;
  }
  /**CARDS**/
  .home-bunga-container {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: space-around;
  }
  .home-bunga-container .card-home-bunga {
    max-width: 60%;
    margin-bottom: 1rem;
    /*img
    {
    width:100%;
    border-radius: 4rem .5rem;
    }*/
  }
}
.login-form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
.login-form .form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Signika", sans-serif;
  color: #CC4E00;
  border: 1px solid #00A2C7;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  background: linear-gradient(180deg, rgba(255, 247, 237, 0.3) 75%, rgba(125, 206, 220, 0.3) 100%);
  row-gap: 1rem;
  padding-top: 1rem;
  width: 100%;
}
.login-form .form-login .form-group-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.login-form .form-login .form-group-login .form-label {
  color: #000;
}
.login-form .form-login .form-group-login .form-control {
  font-family: "Signika", sans-serif;
  border: 1px solid #00A2C7;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  width: 90%;
}
.login-form .form-login .btn-form-login {
  background-color: #00A2C7;
  padding: 0.5rem 2rem;
  border-radius: 4rem 0.5rem;
  color: #FFF;
  margin-bottom: 1rem;
  border: 2px solid #00A2C7;
  font-family: "Signika", sans-serif;
}
.login-form .form-login .one-login {
  color: #000;
}
.login-form .form-login .btn-register-login {
  background-color: #CC4E00;
  padding: 0.5rem 2rem;
  border-radius: 4rem 0.5rem;
  margin-bottom: 1rem;
  border: #CC4E00;
  font-family: "Signika", sans-serif;
}
.login-form .form-login .btn-register-login a {
  text-decoration: none;
  color: #FFF;
}

/*hover*/
.login-form .form-login .btn-form-login:hover {
  background-color: #CC4E00;
  padding: 0.5rem 1.5rem;
}
.login-form .form-login .btn-register-login:hover {
  background-color: #00A2C7;
  padding: 0.5rem 1.5rem;
}
.login-form .form-login .btn-register-login:hover a:hover {
  color: black;
}

.register-form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
.register-form .form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Signika", sans-serif;
  color: #CC4E00;
  border: 1px solid #00A2C7;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  background: linear-gradient(180deg, rgba(255, 247, 237, 0.3) 75%, rgba(125, 206, 220, 0.3) 100%);
  row-gap: 1rem;
  padding-top: 1rem;
  width: 50%;
}
.register-form .form-register .form-register-column-left .form-group-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.register-form .form-register .form-register-column-left .form-group-register .form-control {
  font-family: "Signika", sans-serif;
  border: 1px solid #00A2C7;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  width: 50%;
}
.register-form .form-register .form-register-column-right .form-group-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.register-form .form-register .form-register-column-right .form-group-register .form-control {
  font-family: "Signika", sans-serif;
  border: 1px solid #00A2C7;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  width: 50%;
}

/*CARD*/
.reserve-bunga-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.reserve-bunga-container .card-reserve-bunga {
  background: linear-gradient(180deg, rgba(255, 247, 237, 0.3) 75%, rgba(125, 206, 220, 0.3) 100%);
  border-radius: 4rem 1rem 1rem 1rem;
  max-width: 80%;
  margin-bottom: 1rem;
}
.reserve-bunga-container .card-reserve-bunga img {
  width: 100%;
  border-radius: 4rem 0.5rem;
}

.details-bunga-reserve .title-card-h3 {
  font-family: "Dancing Script", cursive;
  color: #00A2C7;
  font-weight: 700;
  text-align: center;
  text-align: center;
  font-size: 1.5rem;
}
.details-bunga-reserve p {
  font-family: "Signika", sans-serif;
  color: #000;
  text-align: center;
  margin: 1rem;
}
.details-bunga-reserve .btn-card-bunga {
  border: 2px solid #00A2C7;
  border-radius: 40px 10px;
  width: 45%;
  padding: 0.5rem 1rem;
  margin-left: 6rem;
}
.details-bunga-reserve .btn-card-bunga a {
  text-decoration: none;
  color: #CC4E00;
}

/****TABLETTE****/
@media screen and (min-width: 780px) {
  /**CARDS**/
  .reserve-bunga-container .card-reserve-bunga {
    display: flex;
  }
  .reserve-bunga-container .card-reserve-bunga img {
    width: 60%;
    height: 100%;
  }
  .details-bunga-reserve {
    display: grid;
  }
  .details-bunga-reserve .title-card-h3 {
    font-size: 2rem;
  }
  .details-bunga-reserve p {
    font-family: "Signika", sans-serif;
    color: #000;
    text-align: center;
    margin: 1.5rem;
  }
  .details-bunga-reserve .btn-card-bunga {
    margin-left: 8rem;
  }
  .details-bunga-reserve .btn-card-bunga a {
    text-decoration: none;
    color: #CC4E00;
  }
}
/*CARD*/
.search-bunga-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.search-bunga-container .card-search-bunga {
  background: linear-gradient(180deg, rgba(255, 247, 237, 0.3) 75%, rgba(125, 206, 220, 0.3) 100%);
  border-radius: 4rem 1rem 1rem 1rem;
  max-width: 80%;
  margin-bottom: 1rem;
}
.search-bunga-container .card-search-bunga img {
  width: 100%;
  border-radius: 4rem 0.5rem;
}

.details-bunga-search .title-card-h3 {
  font-family: "Dancing Script", cursive;
  color: #00A2C7;
  font-weight: 700;
  text-align: center;
  text-align: center;
  font-size: 1.5rem;
}
.details-bunga-search p {
  font-family: "Signika", sans-serif;
  color: #000;
  text-align: center;
  margin: 1rem;
}
.details-bunga-search .btn-card-search {
  border: 2px solid #00A2C7;
  border-radius: 40px 10px;
  width: 45%;
  padding: 0.5rem 1rem;
  margin-left: 6rem;
}
.details-bunga-search .btn-card-search a {
  text-decoration: none;
  color: #CC4E00;
}

/****TABLETTE****/
@media screen and (min-width: 780px) {
  /**CARDS**/
  .search-bunga-container .card-search-bunga {
    display: flex;
  }
  .search-bunga-container .card-search-bunga figure {
    width: 40%;
  }
  .search-bunga-container .card-search-bunga figure img {
    width: 100%;
    height: 100%;
  }
  .details-bunga-search {
    display: grid;
  }
  .details-bunga-search .title-card-h3 {
    font-size: 2rem;
  }
  .details-bunga-search p {
    font-family: "Signika", sans-serif;
    color: #000;
    text-align: center;
    margin: 1.5rem;
  }
  .details-bunga-search .btn-card-bunga {
    margin-left: 8rem;
  }
  .details-bunga-search .btn-card-bunga a {
    text-decoration: none;
    color: #CC4E00;
  }
}
/*@import "layouts/teams";
@import "layouts/team";
@import "layouts/players";
@import "layouts/player";
@import "layouts/matches";
@import "layouts/match";*/

/*# sourceMappingURL=style.css.map */
