@charset "UTF-8";
/*Généralités*/
* {
  box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
  font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
  font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
}

/* VARS */
/*@mixin title($font-size: 1.6rem , $color: $title-orange, $font-family:$font-fami-title)
{
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    font-weight: 700;
}*/
/* LIBS */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* PARTIALS */
header {
  background-color: #F2FAFB;
  padding-bottom: 1rem;
  border-bottom: 2px solid #00A2C7;
}

/*BANDE LOGO*/
h1 {
  /*color: $title-orange;
  font-family: "Dancing Script", cursive;
  font-weight: 700;*/
  font-family: "Dancing Script", cursive;
  color: #CC4E00;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

.block-header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
}

.fig-logo {
  text-align: center;
  width: 20%;
}
.fig-logo .logo {
  width: 50%;
}

.fig-menu .menu-b {
  width: 30%;
}

.fig-login .img-login {
  width: 60%;
}

.menu {
  display: none;
}

/****TABLETTE****/
@media screen and (min-width: 780px) {
  h1 {
    font-size: 2.5rem;
  }
}
/**** DESKTOP ****/
@media screen and (min-width: 980px) {
  .menu-b, .img-login {
    display: none;
  }
  h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
  header {
    padding-bottom: 0;
    border-bottom: none;
  }
  /***MENU***/
  .menu {
    display: block;
    width: 100%;
    position: sticky;
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
  }
  .menu > ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 1.5rem;
    border-top: 2px solid #00A2C7;
    border-bottom: 2px solid #CC4E00;
  }
  .menu ul li a {
    color: #000;
    text-decoration: none;
  }
  .menu .login {
    background-color: #00A2C7;
    padding: 0.5rem 2rem;
    border-radius: 4rem 0.5rem;
    width: 15rem;
  }
  .menu .login .button-login {
    color: #FFF;
  }
  /** Les hovers du MENU **/
  .menu > ul > li:hover {
    background-color: #00A2C7;
    padding: 0.5rem 2rem;
    border-radius: 4rem 0.5rem;
    width: 15rem;
  }
  .menu > ul > li:hover > a {
    color: #FFF;
  }
  .menu > ul > .scrolling-menu:hover .under-menu {
    display: block;
    text-align: left;
    background-color: #FFF;
    margin: 0.5rem;
    padding: 0.5rem;
    overflow: hidden;
  }
  .menu > ul > .scrolling-menu:hover .under-menu li:hover {
    background-color: #CC4E00;
    border-radius: 4rem 0.5rem;
    padding: 0.5rem 1.5rem;
  }
  .menu > ul > .scrolling-menu:hover .under-menu li:hover a {
    color: #FFF;
  }
  .menu .login:hover {
    background-color: #CC4E00;
    padding: 0.5rem 2rem;
    border-radius: 4rem 0.5rem;
    width: 15rem;
  }
  /** Sous-menu masqué **/
  .menu > ul > .scrolling-menu .under-menu {
    position: absolute;
    display: none;
  }
  .menu > ul > .scrolling-menu .under-menu > li {
    margin: 1rem;
  }
}
/* LAYOUTS */
/**** MOBILE ****/
.main-plages {
  background: linear-gradient(180deg, rgba(255, 247, 237, 0.3) 0%, rgba(125, 206, 220, 0.3) 100%);
}

h2 {
  font-family: "Dancing Script", cursive;
  color: #CC4E00;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

.intro-plages {
  font-family: "Signika", sans-serif;
  color: #000;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}

/*CARDS*/
.plages-container {
  display: flex;
  justify-content: center;
}

.card-plage {
  background-color: #FFF;
  border-radius: 1rem;
  width: 80%;
}
.card-plage img {
  width: 100%;
  border-radius: 4rem 0.5rem;
}

.details-plage h3 {
  font-family: "Dancing Script", cursive;
  color: #00A2C7;
  font-weight: 700;
  text-align: center;
  text-align: center;
}
.details-plage p {
  font-family: "Signika", sans-serif;
  color: #000;
}

/****TABLETTE****/
@media screen and (min-width: 780px) {
  h2 {
    font-size: 3rem;
  }
}
/**** DESKTOP ****/
/*@import "layouts/teams";
@import "layouts/team";
@import "layouts/players";
@import "layouts/player";
@import "layouts/matches";
@import "layouts/match";*/

/*# sourceMappingURL=style.css.map */
