@charset "UTF-8";
/*Généralités*/
* {
  box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
  font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
  font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
}

/* VARS */
/*@mixin title($font-size: 1.6rem , $color: $title-orange, $font-family:$font-fami-title)
{
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    font-weight: 700;
}*/
/* LIBS */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* PARTIALS */
header {
  background-color: #F2FAFB;
}

/*BANDE LOGO*/
h1 {
  /*color: $title-orange;
  font-family: "Dancing Script", cursive;
  font-weight: 700;*/
  font-family: "Dancing Script", cursive;
  color: #CC4E00;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

.block-header {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 100%;
}

.fig-logo {
  text-align: center;
  width: 20%;
}
.fig-logo .logo {
  width: 50%;
}

.fig-menu .menu-b {
  width: 30%;
}

.fig-login .img-login {
  width: 60%;
}

/****TABLETTE****/
@media screen and (min-width: 780px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 980px) {
  .menu-b, .img-login {
    display: none;
  }
  .menu {
    width: 100%;
    position: sticky;
    font-family: "Dancing Script", cursive;
    font-size: 1.5rem;
  }
  .menu > ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 1rem;
    border-top: 2px solid #00A2C7;
  }
  .menu ul li a {
    color: #000;
    text-decoration: none;
  }
  .menu > ul > li:hover > a {
    color: #00A2C7;
  }
  .under-menu {
    text-align: center;
    overflow: hidden;
  }
}
/* LAYOUTS */
/*@import "layouts/teams";
@import "layouts/team";
@import "layouts/players";
@import "layouts/player";
@import "layouts/matches";
@import "layouts/match";*/

/*# sourceMappingURL=style.css.map */
